bin/__pycache__
bin/config2.ini
bin/playground.ipynb
bin/playground.py
bin/gcp_query.py

archive/
data/
logs/

metadata_utilities.drawio
metadata_utilities.drawio:Zone.Identifier
metadata_utilities.drawio.png
metadata_utilities.drawio.png:Zone.Identifier